.page {  
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0,hsl(213, 100%, 71%), hsl(273, 100%, 71%));
  display: flex;
}

.header {
  margin: 0 0 50px;
  font-family: 'Carter one';
  font-size: 60px;
  font-weight: 700;
  color: #f8f9fa;
  text-align: center;
  text-transform: uppercase;
}

.description {
  margin: 0 0 50px;
  font-size: 20px;
  text-align: center;
  color: #f8f9fa;
}

.about {
  margin: 0 auto;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select {
  margin-bottom: 30px;
  padding: 5px;
  width: 150px;  
  font-family: 'Pangolin';
  font-size: 14px;
  font-weight: 900;
  color: #3d8ace;
  text-transform: uppercase;
  background-color: #f4f6f9;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.start {
  margin: 0 auto;
  width: 150px;
  height: 40px;
  font-size: 17px;
  font-weight: 900;
  color: #3d8ace;
  text-transform: uppercase;
  background-color: #f4f6f9;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  cursor: pointer;
}

.start:hover {
  color: #e5f3ff;
  background-color: #817cff;
  border: 1px solid #869de7;
}

.start:focus {
  outline: none;
}

@media (max-width: 375px) {
  .header {
    margin: 25px;
    font-size: 30px;
  }
}
