.stars {
  height: 60px;
  display: flex;
  justify-content: flex-end;
}
.starsItem {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  background-image: url('./star.png');
  background-size: contain;
}
