.selector {
  position: relative;
  display: inline-block;
  line-height: 0;
}
.selector__input {
  display: none;
}

.selector__point-border {
  display: inline-block;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.selector__point {
  margin: 0;
  display: block;
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  cursor: pointer;
}
.selector__point:hover {
  transform: scale(1.1);
}

.selector__input:checked + .selector__point-border {
  border-color: green;
}
