.page {
  width: 100vw;
  height: 100vh;  
  background: linear-gradient(0,#b3d5d8, #ffffff);;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader {
  width: 200px;
  height: 200px;
}
