.page * {
	margin: 0;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

.page {
	padding: 1px;
	width: 100%;
  background: url('./assets/_88188-215.jpg') no-repeat;
  background-size: cover;
	background-attachment: fixed;
	box-sizing: border-box;
}

.promo {
	margin: 0 auto;
	padding: 20px;
	max-width: 1280px;
	width: 95%;
	height: -moz-fit-content;
	height: fit-content;
	font-size: 18px;
	line-height: 2;
	border-radius: 25px;
	box-sizing: border-box;
}

.promo * {
	box-sizing: border-box;
}

.promo h2, .promo h3{
	line-height: 1.3;
}

.promoWrapper {
	margin: 75px 30px 10px 12vh;
	margin-top: 75px;
}

.promoHeader, .promoOpportunities {
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #fefff4a8;
	box-shadow: 0 0 5px #f5deb3;
}

.promoHeader {
	margin-bottom: 100px;	
	padding: 40px;
}

.promoHeaderTitle {
	margin-bottom: 10px;	
	font-family: 'Cabin Sketch', cursive;
	font-size: 60px;	
	color: #ef3011;
}

.mainDescription {
	font-size: 20px;
}

.promoOpportunities {
	padding-top: 240px;
	position: relative;
}

.promoAboutWrapper {
	padding: 20px 45px;
	position: absolute;
	background: transparent;
	top: -63px;
	left: 5%;
}

.aboutHeader {
	padding: 5px 20px;
	width: -moz-fit-content;
	width: fit-content;	
	font-family: 'Cabin Sketch', cursive;
	font-size: 35px;
	color: #ffffff;
	background: #beb2eb;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	right: 12%;	
	z-index: 2;
}

.aboutDescription {
	padding: 45px;
	width: -moz-fit-content;
	width: fit-content;
	max-width: 675px;
	line-height: 1.5;
	color: #22362b;
	background: #fff8dc;
	border-radius: 5px;
	box-shadow: 0 0 10px #d6abfd;
}

.mainApplicationHeader {
  padding: 10px 20px;
  width: -moz-fit-content;
	width: fit-content;
	font-family: 'Cabin Sketch', cursive;
  font-size: 33px;
	color: #19a121;
	background: #b4f3b7;
  border-radius: 5px;
  position: absolute;
  top: -30px;
  right: 6%;
}

.mainApplication {
	padding: 100px 45px;
	color: #22362b;
	background: #fffdf5;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 0 10px #55fb87;
	right: -5%;
}

.mainAppDescriptionBlock {
	padding: 0 10px;
	margin-bottom: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainAppDescriptionBlock:nth-child(2n) {
	flex-direction: row-reverse;
}

.mainAppImgBlock {
	margin-left: 15px;
	width: 40%;
	text-align: center;
}

.mainAppImg {
	max-width: 300px;
}

.mainApplicationDescription {
	min-width: 47%;
	max-width: 400px;
}

.intervalMethodDescription {
	margin: 0 10px 20px;
	padding: 20px;
	background: #fff8dc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ffb427;
}

.promoVideo {
  margin-bottom: 20px;
  padding: 90px;
  border-radius: 10px;
  background-color: #fffdf4;
  box-shadow: 0 0 5px #f5deb3;
}

.video {
	margin-bottom: 20px;
}

.linkRepoTitle {
	font-weight: 700;
}

.linkRepo {
	color: #474747;
	text-decoration: none;
}

.linkRepo:hover {
	color: #1f62bb;
}

.games {
	padding: 120px 80px;
	color: #22362b;
	background: #fffdf5;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 0 10px #fb9055;
	top: -35px;
	left: -5%;
}

.gamesHeader {
    padding: 10px 20px;
    width: -moz-fit-content;
		width: fit-content;
		font-family: 'Cabin Sketch', cursive;
    font-size: 33px;
    color: #840101;
    background: #fda77b;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    left: 6%;
}

.gameCard {
	margin: auto;
	padding: 50px 20px;
	width: 100%;
  background-color: #f0f8ffd1;
  border-radius: 5px;  
  box-shadow: 0 0 5px #87c4ff;
	display: flex;
}


.game {
	padding-top: 20px;
	width: 50%;
	line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.gameGallery {
	width: 415px;
	min-width: 415px;
}

.gameCardWrapper {
	padding: 15px;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
}

.gameSlides {
	margin: auto;
	max-width: 900px;
	height: 500px;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}

.gameSlider {
	position: relative;
}

.btnPrev, .btnNext {
	width: 30px;
	height: 30px;
	background-color: tomato;
	border-radius: 50%;
	position: absolute;
}

.btnPrev {
	top: 40%;
  left: -50px;
  width: 50px;
  height: 50px;
	background-color: #ffba747d;
}

.btnNext {
	top: 40%;
  right: -50px;
  width: 50px;
  height: 50px;
	background-color: #ffba747d;
}

.btnPrev:hover, .btnNext:hover {
	background-color: #ffad5ab0;
	transition: background-color 0.2s linear;
}

.btnPrev::after {
	content: '';
	display: block;
	width: 30%;
	height: 30%;
	border-top: 1px solid #b44e10;
	border-left: 1px solid #b44e10;
	transform: rotate(-45deg);
	position: absolute;
	top: 34%;
	left: 38%;
}

.btnNext::after {
	content: '';
	display: block;
	width: 30%;
	height: 30%;
	border-top: 1px solid #b44e10;
	border-right: 1px solid #b44e10;
	transform: rotate(45deg);
	position: absolute;
	top: 34%;
	right: 38%;
}

.showRight {
	animation: showRight 1s linear;
	display: flex;
	transform: translateX(0%);
}

.hideRight {
	animation: hideRight 1s linear;
	transform: translateX(100%);
	display: flex;
}

.showLeft {
	animation: showLeft 1s linear;
	display: flex;
	transform: translateX(0%);
}

.hideLeft {
	animation: hideLeft 1s linear;
	transform: translateX(100%);
	display: flex;
}

@keyframes showRight {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}

@keyframes showLeft {
	0% {
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}


@keyframes hideRight {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
} 

@keyframes hideLeft {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
} 

.slide {  
  list-style: none;
  border: 1px solid #fff;
	transition: background-image 0.5s cubic-bezier(0, 0, 0.83, 1.17);
}

.audiocall1 {
  background-image: url('./assets/audiocall/audio-start-page.png');
  background-size: cover;
}

.audiocall2 {
  background-image: url('./assets/audiocall/audio-game-page.png');
  background-size: cover;
}

.audiocall3 {
  background-image: url('./assets/audiocall/audio-correct.png');
  background-size: cover;
}

.audiocall4 {
  background-image: url('./assets/audiocall/audio-incorrect.png');
  background-size: cover;
}

.audiocall5 {
  background-image: url('./assets/audiocall/audio-results.png');
  background-size: cover;
}

.speakit1 {
  background-image: url('./assets/speakIt/start.png');
  background-size: cover;
}

.speakit2 {
  background-image: url('./assets/speakIt/question.png');
  background-size: cover;
}

.speakit3 {
  background-image: url('./assets/speakIt/correct.png');
  background-size: cover;
}

.speakit4 {
  background-image: url('./assets/speakIt/train.png');
  background-size: cover;
}

.speakit5 {
  background-image: url('./assets/speakIt/result.png');
  background-size: cover;
}

.savannah1 {
  background-image: url('./assets/savannah/start.png');
  background-size: cover;
}

.savannah2 {
  background-image: url('./assets/savannah/question.png');
  background-size: cover;
}

.savannah3 {
  background-image: url('./assets/savannah/correct.png');
  background-size: cover;
}

.savannah4 {
  background-image: url('./assets/savannah/incorrect.png');
  background-size: cover;
}

.savannah5 {
  background-image: url('./assets/savannah/result.png');
  background-size: cover;
}

.sprint1 {
  background-image: url('./assets/sprint/start.png');
  background-size: cover;
}

.sprint2 {
  background-image: url('./assets/sprint/loader.png');
  background-size: cover;
}

.sprint3 {
  background-image: url('./assets/sprint/question.png');
  background-size: cover;
}

.sprint4 {
  background-image: url('./assets/sprint/progress.png');
  background-size: cover;
}

.sprint5 {
  background-image: url('./assets/sprint/result.png');
  background-size: cover;
}

.englishPuzzle1 {
  background-image: url('./assets/puzzle/start.png');
  background-size: cover;
}

.englishPuzzle2 {
  background-image: url('./assets/puzzle/question.png');
  background-size: cover;
}

.englishPuzzle3 {
  background-image: url('./assets/puzzle/progress.png');
  background-size: cover;
}

.englishPuzzle4 {
  background-image: url('./assets/puzzle/incorrect.png');
  background-size: cover;
}

.englishPuzzle5 {
  background-image: url('./assets/puzzle/result.png');
  background-size: cover;
}

.wordConstructor1 {
  background-image: url('./assets/word_constructor/start.png');
  background-size: cover;
}

.wordConstructor2 {
  background-image: url('./assets/word_constructor/loader.png');
  background-size: cover;
}

.wordConstructor3 {
  background-image: url('./assets/word_constructor/question.png');
  background-size: cover;
}

.wordConstructor4 {
  background-image: url('./assets/word_constructor/question_progress.png');
  background-size: cover;
}

.wordConstructor5 {
  background-image: url('./assets/word_constructor/result.png');
  background-size: cover;
}


.cssSlider {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.cssSlider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: 190px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cssSlider .slides > li {
	width: 100%;
	height: 190px;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 100%;
	height: auto;
}

.thumbnail {
  width: 200px;
  height: 40px;
  background-size: cover;
	border: 1px solid #2582e757;
	cursor: pointer;
}

.thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.choosen {
	border: 2px solid #ed7314;
}

.thumbnails > li {
	width: 20%;
}

.statistics {
	padding: 80px 45px;
	color: #22362b;
	background: #fffdf5;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 0 10px #fbdc55;
	right: -5%;
	top: -90px;
}

.statisticsHeader {
    padding: 10px 20px;
		width: fit-content;
		font-family: 'Cabin Sketch', cursive;
    font-size: 33px;
    color: #a18019;
    background: #fff074;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    right: 6%;
}

.statisticsDescriptionBlock {
	padding: 20px 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-size: contain;
  background-repeat: no-repeat;
	background-position: 75% 55%;
}

.statisticsDescription {
	margin-left: 15px;
	width: 45%;
}

.statsImgBlock {
	margin-left: 15px;
	width: 40%;
	text-align: center;
}


.statisticsImg {
	max-width: 250px;
}

.gameTitle {
	margin-bottom: 25px;
	font-family: 'Carter One', cursive;
	font-size: 26px;
	color: #456fc1;
	text-transform: capitalize;
}

.gameDescription {
	margin: 0 10px;
	text-align: center;
}

@media (max-width: 1180px) {
	.gameCard {		
		padding: 20px 20px 20px;
		height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	}

	.gameTitle {
		margin-bottom: 15px;
		width: 100%;
    text-align: center;
	}

	.gameDescription {
		margin-bottom: 10px;
	}

	.gameGallery {
    margin-bottom: 10px;
	}	

	.game {
			width: 80%;
	}
}

@media (max-width: 1120px) {
	.promo {
		line-height: 1.7;
		font-size: 13px;
	}

	.promoHeader {
		padding: 25px;
	}

	.promoHeaderTitle {
		line-height: 1;
    font-size: 50px;
	}

	.mainDescription {
		font-size: 16px;
    line-height: 1.5;
	}

	.promoOpportunities {
    padding-top: 200px;
	}

	.promoAboutWrapper {
    left: 0;
	}


	.aboutDescription {
		padding: 25px;
		max-width: 400px;
	}

	.aboutHeader, .mainApplicationHeader, .gamesHeader, .statisticsHeader {
		font-size: 23px;
	}

	.mainAppDescriptionBlock {
		justify-content: space-around;
	}

	.mainApplicationDescription {
    min-width: 40%;
    max-width: 300px;
	}

	.mainAppImgBlock {
    margin: 0 20px;
    width: 30%;
	}

	.mainApplication {
    padding: 65px 45px;
	}

	.games {
		padding: 35px 40px 85px;
	}

	.gamesDescription {
    margin-bottom: 25px;
    padding: 0 20px;
	}

	.btnNext {
    right: -35px;
    width: 40px;
    height: 40px;
	}

	.btnPrev {
		left: -35px;
    width: 40px;
    height: 40px;
	}

	.gameCardWrapper {
		padding: 15px;
	}

	.gameCard {
		padding: 10px 10px 20px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	}

	.game {
		padding-top: 15px;
		width: 100%;
	}

	.gameSlides {
    height: 410px;
	}

	.gameTitle {
		font-size: 22px;
	}

	.statistics {
    padding: 30px 25px;
    top: -80px;
	}

	.statisticsDescription {
    margin-left: 0;
	}

	.gameGallery {
		min-width: 350px;
		width: 350px;
	}

	.cssSlider .slides> li {
    width: 350px;
    height: 170px;
	}	

	.cssSlider .slides {
    height: 170px;
	}
}

@media (max-width: 765px) {
	.promoWrapper {
		margin: 60px 5px 10px;
	}

	.promo {
		margin: auto;
		padding: 0;
		font-size: 14px;
	}

	.promoHeader {
		margin-bottom: 25px;
		padding: 15px;
	}

	.promoHeaderTitle {
    font-size: 34px;
	}

	.mainDescription {
		font-size: 14px;
	}

	.promoOpportunities {
		margin-bottom: 25px;
    padding: 10px;
	}

	.promoAboutWrapper {
		margin-bottom: 20px;
		padding: 0;
		position: static;
	}

	.aboutHeader {
		width: 100%;
		text-align: center;
		position: static;
	}

	.aboutDescription {
		max-width: 100%;
	}

	.mainApplication, .games, .statistics {
		margin-bottom: 20px;
		padding: 5px;
		position: static;
	}

	.mainApplicationHeader, .gamesHeader, .statisticsHeader {
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
		position: static;
	}

	.gamesDescription {
		padding: 20px;
	}

	.btnNext {
		right: -4px;
	}

	.btnPrev {
		left: -4px;
	}
}

@media (max-width: 520px) {

  .mainAppDescriptionBlock {
		margin-bottom: 35px;
	  flex-direction: column-reverse;
  }

  .mainAppDescriptionBlock:nth-child(2n) {
		flex-direction: column-reverse;
	}

	.mainApplicationDescription {
		text-align: center;
	}

	.aboutDescription, .gamesDescription {
    text-align: center;
	}	

	.cssSlider .slides > li {
    width: 240px;
    height: 120px;
	}

	.gameGallery {
		width: 240px;
		min-width: 240px;
	}

	.cssSlider .slides {
    height: 120px;
	}

	.thumbnail {
		height: 25px;
	}

	.gameSlides {
    height: 410px;
	}

	.statisticsDescriptionBlock {
		flex-direction: column-reverse;
	}

	.statsImgBlock {
		margin-bottom: 10px;
	}

	.statisticsDescription {
		max-width: 300px;
		width: 100%;
    text-align: center;
	}
}

@media (max-width: 375px) {
	.promoWrapper {
    margin: 60px 0 10px;
	}

	.promoHeaderTitle {
		font-size: 30px;
	}

	.gameGallery {
		width: 230px;
		min-width: 230px;
	}

	.gameSlides {
    height: 355px;
	}

	.gameCardWrapper {
    padding: 5px;
	}

	.gameCard {
		padding: 10px;
	}

	.cssSlider .slides {
    height: 115px;
	}

	.thumbnail {
		height: 22px;
	}

	.cssSlider .slides > li {
    width: 230px;
    height: 115px;
	}

	.btnNext {
		right: -14px;
		top: 44%;
	}

	.btnPrev {
		left: -14px;
		top: 44%;
	}
}
