.modalOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    z-index: 999;
    padding: 36px 16px 16px;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0;
    box-sizing: border-box;
}


.modalWindow {
    padding: 40px 0;
    margin: 40px 0;
    overflow: visible;
    max-height: calc(100vh - 80px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.modalContent {
    width: 398px;
    border-radius: 8px;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .16);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0 22px;
}


.modalTitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
    color: #37383c;
}

.modalText {
    max-width: 337px;
    font-size: 16px;
    line-height: 1.25;
    color: #7e919f;
    text-align: center;
    margin-top: 24px;
}

.modalCloseBtn {
    padding: 11px 0;
    width: 200px;
    border-radius: 4px;
    background-color: #2582e7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: #fff;
    margin-top: 48px;
    cursor: pointer;
}

.modalCancelBtn {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #2582e7;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 16px;
}

.link {
    text-decoration: none;
}


.exitGameIcon {
    background-image: url('../Assets/icons/clear.svg');
    width: 30px;
    height: 30px;
    background-size: 100%;
    position: absolute;
    top: 30px;
    right: 45px;
    cursor: pointer;
}

.muteIcon {

    width: 40px;
    height: 40px;
    background-size: 100%;
    position: absolute;
    top: 30px;
    left: 45px;
    cursor: pointer;
}

.muteOn {
    background-image: url('../Assets/icons/sound.svg');
}

.muteOff {
    background-image: url('../Assets/icons/no-sound.svg');

}


@media (min-width: 300px) and (max-width: 550px) {
    .modalContent {
        width: 310px;
        margin: auto;
    }

    .modalOverlay {
        padding: 36px 0 16px;

    }

    .exitGameIcon {
        width: 15px;
        height: 15px;
        background-size: 100%;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    .muteIcon {
        width: 20px;
        height: 20px;
        left: 15px;
        top: 15px;
    }


}