.wrap {
    width: 100%;
    background-image: url('./Assets/tttt.jpg');
    background-size: cover;   
    display: flex;
    justify-content: center;
}

.mainContainer {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 15px 15px;
    margin: auto;
    transition: all 1s;
}

.teamBlocks {
    width: 280px;
    height: 320px;
    margin: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    background: rgba(1, 172, 158, 0.89);
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    transition: all 0.2s;
}

.imgBlock {
    margin: 25px auto 0;
    width: 68%;
    height: 70%;
}

.image {
    height: 100%;
}

.title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.job {
    margin-top: 10px;
    font-size: 16px;
}

.contentContainer {
    margin: 75px 10vh 0;
    display: flex;
}

.flex {
    width: 100%;
    display: flex;
}

@media (max-width: 375px) {
    .contentContainer {
        margin-top: 45px;
    }

    .teamBlocks {
        margin: 20px 0;
    }
}
