.header {
  margin: 0 0 50px;
  font-size: 32px;
  font-weight: 700;
  color: #5183e7;
  text-align: center;
  text-transform: uppercase;
}

.description {
  margin: 0 0 50px;
  font-size: 20px;
  text-align: center;
  color: #5183e7;
}