.block{
    position: fixed;
    margin: 0 auto;
    z-index: 1000;
    left: calc(50% - 300px);
    top: 120px;
    width: 90%;
    min-width: 280px;
    max-width: 600px;
    max-height: calc(98% - 120px);
    border-radius: 5px;
    overflow: scroll;
    color: #000000;
    text-align: left;
}

.startButton{
    left: calc(50% - 140px);
    width: 280px;
    height: 28px;
    padding-top: 7px;
    margin: 0 auto;
    background-color: #ffffff33;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    border-radius: 5px;
    transition: 0.5s;
}

.startButton:hover{
    background-color: #493c3c;
}

.infoBlock{
    position: fixed;
    top: 20px;
    left: calc(50% - 150px);
    z-index: 100;
    width: 300px;
    height: 72px;
    padding-top: 10px;
    background-color: #ffffff33;
    border-radius: 5px;
}

.message{
    text-align: center;
    width: 280px;
    margin: 10px auto;
    color: rgb(255, 255, 255);
}

.testBlock{
    display: block;
    width: 100%;
    max-height: 90%;
    margin: 10px auto 0;
    padding: 20px 0;
    background-color: #ffffff;
    border-radius: 5px;
}

.none{
    display: none;
}

.questionBlock{
    width: 90%;
    margin: 10px auto;
}

.question{
    font-weight: bold;
}

.answer{
    padding-left: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.answer:hover{
    color: #493c3c;
    background-color: rgb(187, 187, 187);
    border-radius: 5px;
    transition: 0.5s;
}

.answerCheck{
    padding-left: 30px;
    background-color: #4ddd65;
    border-radius: 5px;
    transition: 0.5s;
}

.submit{
    width: 150px;
    height: 25px;
    margin: 10px auto;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    background-color: #8a5454;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}

.submit:hover{
    background-color: #493c3c;
}

@media screen and (max-width: 660px){
    .block{
        left: 5%;
    }
}