
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-volume-high:before { content: '\e801'; } /* '' */
.icon-volume-up:before { content: '\e803'; } /* '' */
.icon-note:before { content: '\e804'; } /* '' */