.settings_inner, .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px #22a2b2;
    border-radius: 5px;
    padding: 20px;
    color: #6c9ed5;
    background-color: #ffffff;
}

.card {
    margin: 0 auto;
    box-shadow: 0 0 20px #6c9ed5;
    border-radius: 10px;
    padding: 20px;
    color: #6c9ed5;
    background-color: #ffffff;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.settings_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pangolin', cursive;
}

.container { 
    width: 100%;    
    min-height: 100vh;
    background-color: #e3f3fc;
    display: flex;
}

.form_inner {    
    margin: 70px 0 0 10vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all .2s ease-in;
    box-sizing: border-box; 
}

input {
    margin-left: 30px;
}

.card_word input {
    font-size: 22px;
    color: #6c9ed5;
}

.bold {
    font-weight: 700;
}

label {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

input[type='checkbox'] {
    display: none;
}

label.game_checkbox_label {
    font-family: 'Pangolin', cursive;
    padding-right: 20px;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
}

label.game_checkbox_label::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: solid 1px #6c9ed5;
    vertical-align: middle;
    margin-left: 10px;
    transition: all .2s ease-in;
    border-radius: 4px;
}

input[type='checkbox']:checked + label::after {
    border-radius: 50%;
    content: '';
    text-align: center;
    font-family: sans-serif;
    background: url(./svg/check-circle-solid.svg);
    background-color: #e3f3fc;
    border: solid 1px #6c9ed5;
    color: #ffffff;
}

.select {
    position: relative;
    display: inline;
    margin-left: 15px;
}

.select::after {
    content: '';
    border-style: solid;
    border-width: 8px 7px 0 7px;
    border-color: #e3f3fc transparent transparent transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
}

.select select {
    padding: 0 25px;
    background: none;
    border: solid 1px #6c9ed5;
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Pangolin', cursive;
    font-size: 22px;
    color: #6c9ed5;
    border-radius: 4px;
    cursor: pointer;
}

.game_btn {
    padding: 15px;
    border-radius: 20px;
    height: 100%;
    font-family: 'Pangolin', cursive;
    font-size: 25px;
    color: #6c9ed5;
    border: 1px solid #6c9ed5;
    background: #e3f3fc;
    outline: none;
    transition: all .2s linear;
    margin-right: 5px;
}

.game_btn_active {
    padding: 15px;
    border-radius: 20px;
    height: 100%;
    font-family: 'Pangolin', cursive;
    font-size: 25px;
    color: #ffffff;
    border: 1px solid #6c9ed5;
    background: #6c9ed5;
    outline: none;
    transition: all .2s linear;
    margin-right: 5px;

}

.game_btn a {
    color: #6c9ed5;
    text-decoration: none;
}

.game_btn:hover {
    color: #ffffff;
    text-decoration: none;
    background: #6c9ed5;
    border: 1px solid #6c9ed5;
}

.game_btn:hover a {
    color: #ffffff;
    text-decoration: none;
}

.game_btn_audio {
    padding: 15px 25px;
    border-radius: 20px;
    height: 100%;
    font-family: 'Pangolin', cursive;
    font-size: 25px;
    color: #6c9ed5;
    border: 1px solid #6c9ed5;
    background: #e3f3fc;
    outline: none;
    padding: 15px 25px 15px 16px;
}

.game_btn_audio:hover {
    color: #fff;
    background: #6c9ed5;
    border: 1px solid #6c9ed5;
}

.game_btn_audio:hover > i {
    color: #fff;
}

.game_btn_audio_active {
    color: #fff;
    background: #6c9ed5;
    border: 1px solid #6c9ed5;
    border-radius: 20px;
    height: 100%;
    font-family: 'Pangolin', cursive;
    font-size: 22px;
    padding: 15px 25px 15px 16px;

}

.game_btn_audio_active:hover {
    color: #6c9ed5;
    background: #e3f3fc;
    border: 1px solid #6c9ed5;
}

.game_btn_audio_active > i {
    color: #fff;
}

.game_btn_audio_active:hover > i {
    color: #6c9ed5;
}


.game_btn_translaition {
    padding: 15px 20px;
    border-radius: 20px;
    height: 100%;
    font-family: 'Pangolin', cursive;
    font-size: 25px;
    color: #6c9ed5;
    border: 1px solid #6c9ed5;
    background: #e3f3fc;
    outline: none;
    margin-right: 5px;

}

.game_btn_translaition:hover {
    color: #fff;
    background: #6c9ed5;
    border: 1px solid #6c9ed5;
}

.game_btn_translaition_active {
    padding: 15px 20px;
    border-radius: 20px;
    height: 100%;
    font-family: 'Pangolin', cursive;
    font-size: 25px;
    color: #fff;
    border: 1px solid #6c9ed5;
    background: #6c9ed5;
    margin-right: 5px;

}

.game_btn_translaition_active:hover {
    color: #6c9ed5;
    border: 1px solid #6c9ed5;
    background: #e3f3fc;
}



.error_settings {
    max-width: 1000px;
    text-align: left;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    text-transform: uppercase;
    color: #E74C3C;
    text-align: center;
    margin-top: 15px;
}

input[type='number'] {
    margin-left: 15px;
    border: 1px solid #6c9ed5;
    background: none;
    color: #6c9ed5;
    border-radius: 4px;
    outline: none;
    padding: 0px 0px 0 15px;
    width: 45px;
    font-size: 22px;
}

.card_word {
    font-family: 'Pangolin', cursive;
    font-size: 22px;
    color: #6c9ed5;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.card_word_error, .card_word_miss {
    font-family: 'Pangolin', cursive;
    font-size: 22px;
    color: #E74C3C;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn_inner {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.result_btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    outline: none;
}

.card_answer {
    padding: 5px 5px;
    margin: 15px 0 15px 15px;
    box-shadow: 0 0 2px 2px #6c9ed5;
    border-radius: 4px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.answer {
    display: flex;
    align-items: center;
    font-family: 'Pangolin', cursive;
    font-size: 22px;
    color: #6c9ed5;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.progress_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Pangolin', cursive;
    font-size: 25px;
}

.game_btn_inner {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.complexity_btns {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 25px;
}

@media (max-width:790px) {

    .settings_inner, .card {
        padding: 10px;
    }

    .select select {
        padding: 3px 15px;
        font-size: 15px;
    }

    label {
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    label.game_checkbox_label {
        font-size: 15px;
    }

    label.game_checkbox_label::after {
        width: 23px;
        height: 23px;
    }

    input[type='number'] {
        padding: 3px 5px;
        width: 25px;
        font-size: 15px;
    }

    .error_settings {
        max-width: 1000px;
        font-size: 15px;
    }

    .card_word {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .answer {
        font-size: 15px;
    }

    .card_answer {
        padding: 3px;
        height: 20px;
        margin: 10px 0 10px 10px;
    }
    .card_word img { 
        width: 200px;
    }

    .game_btn {
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
    }

    .game_btn_active {
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
    }

    .game_btn_translaition {
        font-size: 20px;
        padding: 10px 15px;    
        border-radius: 10px;
    }

    .game_btn_translaition_active {
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 10px;
    }

    .game_btn_audio {
        font-size: 20px;
        padding: 10px 15px 10px 10px;
        border-radius: 10px;
    }

    .game_btn_audio_active {
        font-size: 20px;
        padding: 10px 15px 10px 10px;   
        border-radius: 10px;
    }

    .btn_inner {
        margin: 10px 0;
    }

    .card_word_error, .card_word_miss {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .card_answer {
        max-width: 140px;
    }
}

@media (max-width:340px) {
    label.game_checkbox_label {
        text-align: center;
    }

    .select::after {
        display: none;
    }

    audio {
        max-width: 200px;
    }

    .btn_inner, .game_btn_inner {
        flex-direction: column;
        align-items: center;
    }

    .game_btn,.game_btn_active, .game_btn_translaition, .game_btn_translaition_active, .game_btn_audio, .game_btn_audio_active {
        margin-bottom: 5px;
    }

    .result_btns {
        margin-top: 5px;
        flex-direction: column;
        align-items: center;
    }

    .complexity_btns {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .card_answer {
        max-width: 140px;
    }

    .game_btn_audio {
        padding: 10px 15px 10px 6px;
        border-radius: 10px;
    }

    .game_btn_audio_active {
        padding: 10px 15px 10px 6px;   
        border-radius: 10px;
    }
}

@media (max-width: 765px) {
    .form_inner {
        margin-left: 0;
    }
}