.gameBg {
    font-family: ' Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
}

.exitGameIcon {
    width: 30px;
    height: 30px;
    background-size: 100%;
    position: absolute;
    top: 30px;
    right: 45px;
    cursor: pointer;
}



/* 
.contentIntro {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    height: 300px;
    text-align: center;
    right: 0;
    left: 0;
} */