.wordList {
  margin-bottom: 50px;
  padding: 20px;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wordItem {  
  margin: 0 10px;
  padding: 5px;
  width: 200px;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #eff1f3;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: all linear 0.1s;
}

.wordItemInactive {   
  margin: 0 10px;
  padding: 5px;
  width: 200px;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #eff1f3;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: all linear 0.1s;
}

.wordItem:hover {
  /* color: #f0f8ff;
  background-color: #60beca;
  border-color: #f0f8ff; */
  text-shadow: #1414ff 0 0 10px;
  transform: scale(1.05);
}

.correctSelected {
  color: #fff;
  background-color: #51d38a;
  border-color: #3dd47f;
  opacity: 1;
}

.correct {
  color: #ec9636;
  background-color: #ebe7be;
  border-color: #eeb63ce7;
  opacity: 1;
}

.incorrect {  
  color: #fff;
  background-color: #fd6464;
  border-color: #f73939;
  opacity: 1;
}
