.word-tile {
  position: relative;
  width: 180px;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.word-tile p {
  text-align: center;
  margin: 0;
}

.word-tile::before {
  position: absolute;
  left: 10px;
  content: '';
  width: 35px;
  height: 35px;
  background-image: url('./audio.svg');
}
